<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.epilande.browser-tabs</string>
	<key>category</key>
	<string>Internet</string>
	<key>connections</key>
	<dict>
		<key>05291F67-A2F4-49A2-A3AA-23923B919638</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7FE334B2-8D0A-40CF-96C0-334C39924EFC</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>A78D61D6-FD39-40C8-9C2D-169AEBE0C096</string>
				<key>modifiers</key>
				<integer>262144</integer>
				<key>modifiersubtext</key>
				<string>Copy url</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>0C66AA56-A328-4470-B5C2-7A812B8F96C7</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F45500ED-412B-4C62-A7AC-4A29E3F6647F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>0FBBBF7A-CB7C-4719-9199-A7AD390B6198</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F45500ED-412B-4C62-A7AC-4A29E3F6647F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>1EF5C902-0F47-47F1-BCBB-5BA273DE5101</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0FBBBF7A-CB7C-4719-9199-A7AD390B6198</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>44CB4B42-4CD6-4B69-B6C1-22E513EA1258</string>
				<key>modifiers</key>
				<integer>262144</integer>
				<key>modifiersubtext</key>
				<string>Copy url</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>2FCC8294-6DBE-4C23-A1F4-4F269DD785A8</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>05291F67-A2F4-49A2-A3AA-23923B919638</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>44CB4B42-4CD6-4B69-B6C1-22E513EA1258</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>66D908A6-B70B-46C5-9BCF-7E46F79D9270</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>66D908A6-B70B-46C5-9BCF-7E46F79D9270</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>CB5A1966-6112-4E46-8190-43421806180B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>7AC39D00-6734-413D-A922-8B018F1D755C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1EF5C902-0F47-47F1-BCBB-5BA273DE5101</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>7ADCCCB0-5056-4C0D-9409-822D1BC5B671</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C670C61E-A7A8-4A02-9A61-453AAD409775</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>7E9CA23F-2FF6-47EF-993D-6157788B9FD4</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C8E50614-8F9B-49CF-8931-2A67367526F4</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>44CB4B42-4CD6-4B69-B6C1-22E513EA1258</string>
				<key>modifiers</key>
				<integer>262144</integer>
				<key>modifiersubtext</key>
				<string>Copy url</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>7FE334B2-8D0A-40CF-96C0-334C39924EFC</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F21C0900-31CD-4A06-86DE-0CDECA1E0062</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A78D61D6-FD39-40C8-9C2D-169AEBE0C096</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B4244A14-9629-4620-BA03-C90CEADF68F7</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B4244A14-9629-4620-BA03-C90CEADF68F7</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>970145EF-4ABC-4829-AA79-F48C6B355296</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C670C61E-A7A8-4A02-9A61-453AAD409775</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>44CB4B42-4CD6-4B69-B6C1-22E513EA1258</string>
				<key>modifiers</key>
				<integer>262144</integer>
				<key>modifiersubtext</key>
				<string>Copy url</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>0C66AA56-A328-4470-B5C2-7A812B8F96C7</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C8E50614-8F9B-49CF-8931-2A67367526F4</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F45500ED-412B-4C62-A7AC-4A29E3F6647F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>EA96FB48-3A34-4C28-823C-07502A6DB319</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7E9CA23F-2FF6-47EF-993D-6157788B9FD4</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Emmanuel Pilande</string>
	<key>description</key>
	<string>Search browser tabs from Chrome, Brave, &amp; Safari</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Browser Tabs</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>2</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<false/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>68</integer>
				<key>keyword</key>
				<string>chrome tabs</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<false/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Loading tabs...</string>
				<key>script</key>
				<string>./list-tabs.js "Google Chrome"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>list-tabs</string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Chrome - Tabs</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>1EF5C902-0F47-47F1-BCBB-5BA273DE5101</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>17</integer>
				<key>hotmod</key>
				<integer>1310720</integer>
				<key>hotstring</key>
				<string>T</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>7AC39D00-6734-413D-A922-8B018F1D755C</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>./focus-tab.js "{query}"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>F45500ED-412B-4C62-A7AC-4A29E3F6647F</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>browser</key>
					<string>Google Chrome</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>0FBBBF7A-CB7C-4719-9199-A7AD390B6198</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>browser</key>
					<string>Brave Browser</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>C8E50614-8F9B-49CF-8931-2A67367526F4</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>Copied to clipboard</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>CB5A1966-6112-4E46-8190-43421806180B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>2</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<false/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>68</integer>
				<key>keyword</key>
				<string>brave tabs</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<false/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Loading tabs...</string>
				<key>script</key>
				<string>./list-tabs.js "Brave Browser"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>list-tabs</string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Brave - Tabs</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>7E9CA23F-2FF6-47EF-993D-6157788B9FD4</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>11</integer>
				<key>hotmod</key>
				<integer>1310720</integer>
				<key>hotstring</key>
				<string>B</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>EA96FB48-3A34-4C28-823C-07502A6DB319</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>66D908A6-B70B-46C5-9BCF-7E46F79D9270</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>function run() {
  let query = "{query}";
  let [, , url] = query.split(",");

  return url
}</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>7</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>44CB4B42-4CD6-4B69-B6C1-22E513EA1258</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>0</integer>
				<key>hotmod</key>
				<integer>0</integer>
				<key>hotstring</key>
				<string></string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>7ADCCCB0-5056-4C0D-9409-822D1BC5B671</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>2</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<false/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>68</integer>
				<key>keyword</key>
				<string>vivaldi tabs</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<false/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Loading tabs...</string>
				<key>script</key>
				<string>./list-tabs.js "Vivaldi"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>list-tabs</string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Vivaldi - Tabs</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>C670C61E-A7A8-4A02-9A61-453AAD409775</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>browser</key>
					<string>Vivaldi</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>0C66AA56-A328-4470-B5C2-7A812B8F96C7</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>./focus-tab-webkit.js "{query}"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>F21C0900-31CD-4A06-86DE-0CDECA1E0062</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>0</integer>
				<key>hotmod</key>
				<integer>0</integer>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>2FCC8294-6DBE-4C23-A1F4-4F269DD785A8</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>2</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<false/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>68</integer>
				<key>keyword</key>
				<string>safari tabs</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<false/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Loading tabs...</string>
				<key>script</key>
				<string>./list-tabs-webkit.js "Safari"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>list-tabs</string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Safari - Tabs</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>05291F67-A2F4-49A2-A3AA-23923B919638</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>browser</key>
					<string>Safari</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>7FE334B2-8D0A-40CF-96C0-334C39924EFC</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>function run() {
  let query = "{query}";
  let [, url] = query.split(",");

  return url
}</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>7</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>A78D61D6-FD39-40C8-9C2D-169AEBE0C096</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>B4244A14-9629-4620-BA03-C90CEADF68F7</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>Copied to clipboard</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>970145EF-4ABC-4829-AA79-F48C6B355296</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Github Repo: https://github.com/epilande/alfred-browser-tabs

Commands:
- `chrome tabs {query}` - Fetch tabs from Google Chrome.
- `brave tabs {query}` - Fetch tabs from Brave Browser.
- `vivaldi tabs {query}` - Fetch tabs from Vivaldi.
- `safari tabs {query}` - Fetch tabs from Safari.</string>
	<key>uidata</key>
	<dict>
		<key>05291F67-A2F4-49A2-A3AA-23923B919638</key>
		<dict>
			<key>xpos</key>
			<integer>325</integer>
			<key>ypos</key>
			<integer>625</integer>
		</dict>
		<key>0C66AA56-A328-4470-B5C2-7A812B8F96C7</key>
		<dict>
			<key>xpos</key>
			<integer>600</integer>
			<key>ypos</key>
			<integer>460</integer>
		</dict>
		<key>0FBBBF7A-CB7C-4719-9199-A7AD390B6198</key>
		<dict>
			<key>xpos</key>
			<integer>600</integer>
			<key>ypos</key>
			<integer>100</integer>
		</dict>
		<key>1EF5C902-0F47-47F1-BCBB-5BA273DE5101</key>
		<dict>
			<key>xpos</key>
			<integer>325</integer>
			<key>ypos</key>
			<integer>70</integer>
		</dict>
		<key>2FCC8294-6DBE-4C23-A1F4-4F269DD785A8</key>
		<dict>
			<key>xpos</key>
			<integer>80</integer>
			<key>ypos</key>
			<integer>625</integer>
		</dict>
		<key>44CB4B42-4CD6-4B69-B6C1-22E513EA1258</key>
		<dict>
			<key>xpos</key>
			<integer>890</integer>
			<key>ypos</key>
			<integer>255</integer>
		</dict>
		<key>66D908A6-B70B-46C5-9BCF-7E46F79D9270</key>
		<dict>
			<key>xpos</key>
			<integer>1075</integer>
			<key>ypos</key>
			<integer>255</integer>
		</dict>
		<key>7AC39D00-6734-413D-A922-8B018F1D755C</key>
		<dict>
			<key>xpos</key>
			<integer>80</integer>
			<key>ypos</key>
			<integer>70</integer>
		</dict>
		<key>7ADCCCB0-5056-4C0D-9409-822D1BC5B671</key>
		<dict>
			<key>xpos</key>
			<integer>80</integer>
			<key>ypos</key>
			<integer>435</integer>
		</dict>
		<key>7E9CA23F-2FF6-47EF-993D-6157788B9FD4</key>
		<dict>
			<key>xpos</key>
			<integer>325</integer>
			<key>ypos</key>
			<integer>255</integer>
		</dict>
		<key>7FE334B2-8D0A-40CF-96C0-334C39924EFC</key>
		<dict>
			<key>xpos</key>
			<integer>600</integer>
			<key>ypos</key>
			<integer>655</integer>
		</dict>
		<key>970145EF-4ABC-4829-AA79-F48C6B355296</key>
		<dict>
			<key>xpos</key>
			<integer>1260</integer>
			<key>ypos</key>
			<integer>780</integer>
		</dict>
		<key>A78D61D6-FD39-40C8-9C2D-169AEBE0C096</key>
		<dict>
			<key>xpos</key>
			<integer>890</integer>
			<key>ypos</key>
			<integer>780</integer>
		</dict>
		<key>B4244A14-9629-4620-BA03-C90CEADF68F7</key>
		<dict>
			<key>xpos</key>
			<integer>1075</integer>
			<key>ypos</key>
			<integer>780</integer>
		</dict>
		<key>C670C61E-A7A8-4A02-9A61-453AAD409775</key>
		<dict>
			<key>xpos</key>
			<integer>325</integer>
			<key>ypos</key>
			<integer>435</integer>
		</dict>
		<key>C8E50614-8F9B-49CF-8931-2A67367526F4</key>
		<dict>
			<key>xpos</key>
			<integer>600</integer>
			<key>ypos</key>
			<integer>250</integer>
		</dict>
		<key>CB5A1966-6112-4E46-8190-43421806180B</key>
		<dict>
			<key>xpos</key>
			<integer>1260</integer>
			<key>ypos</key>
			<integer>255</integer>
		</dict>
		<key>EA96FB48-3A34-4C28-823C-07502A6DB319</key>
		<dict>
			<key>xpos</key>
			<integer>80</integer>
			<key>ypos</key>
			<integer>255</integer>
		</dict>
		<key>F21C0900-31CD-4A06-86DE-0CDECA1E0062</key>
		<dict>
			<key>xpos</key>
			<integer>890</integer>
			<key>ypos</key>
			<integer>625</integer>
		</dict>
		<key>F45500ED-412B-4C62-A7AC-4A29E3F6647F</key>
		<dict>
			<key>xpos</key>
			<integer>890</integer>
			<key>ypos</key>
			<integer>70</integer>
		</dict>
	</dict>
	<key>variablesdontexport</key>
	<array/>
	<key>version</key>
	<string>1.0.2</string>
	<key>webaddress</key>
	<string>https://github.com/epilande/alfred-browser-tabs</string>
</dict>
</plist>
